<!DOCTYPE html>
<div xmlns:th="https://www.thymeleaf.org" th:fragment="EmpHeader">
	<nav>
		<ul class="nav nav-underline">
		  <li class="nav-item">
		    <a class="nav-link active" aria-current="page" th:href="@{/empList}">전체조회</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" th:href="@{/empInsert}">등록</a>
		  </li>
		</ul>
	</nav>
</div>

<!-- 
	[3-2] fragment를 만들어보자.
		HTML 파일을 새로 만들되, HTML의 기본골격(<head>, <body> 등...)은
		선언부(<!DOCTYPE>)를 제외하고 필요 없으므로 싹 다 날리자.
		필요한 것은 2번 라인에 있는 thymeleaf 선언과 fragment 이름, 그리고 현재 html 파일 경로만 잘 확인하자.
 -->