<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title></title>
<!-- Setting -->
<!--/*
	~{} : fragment 표현식 => ~{html_경로 :: fragment_이름}
	classpath: templates/common/configs/default_config.html => ctxPathConfig
	common/configs/default_config => ctxPAthCOnfig
*/-->
<div th:replace="~{common/configs/default_config :: ctxPathConfig}"></div>
<th:block th:replace="~{common/configs/default_config :: BootstrapConfig}"></th:block>
</head>
<body>
	<div>
		<header th:replace="~{common/fragments/emp_header :: EmpHeader}"></header>
		<main>
			<th:block layout:fragment="Content"></th:block>
		</main>
	</div>
</body>
</html>
<!-- 
//=================================================================
//== thymeleaf layout
  - tiles처럼 반복되는 header, footer 등이 있이 있고, article 부분만 바꾸고 싶을 때
  - thymeleaf layout을 사용하여 간단한 레이아웃 배치를 도울 수 있음
  
	[3-1] 현재 default_layout.html은 전체 기준이 되는 레이아웃으로, 여기에 헤더 푸터등을 붙히면 됨.
		현재 파일에 시멘틱 태그를 이용해 기본 골격을 만든 뒤,
		필요한 부분에 th:replace 속성과 경로 표현식( ~{} )을 함께 붙히면 끝.
		


	[3-3] 3-2 에서 만들었던 fragment를 가져오자.


 -->