<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title></title>
<!-- Setting -->
<!--/*
	~{} : fragment 표현식 => ~{html_경로 :: fragment_이름}
	classpath: templates/common/configs/default_config.html => ctxPathConfig
	common/configs/default_config => ctxPAthCOnfig
*/-->
<div th:replace="~{common/configs/default_config :: ctxPathConfig}"></div>
<th:block th:replace="~{common/configs/default_config :: BootstrapConfig}"></th:block>
</head>
<body>
	<div>
		<header th:replace="~{common/fragments/emp_header :: EmpHeader}"></header>
		<main>
			<th:block layout:fragment="Content"></th:block>
		</main>
	</div>
</body>
</html>